/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    background-color: rgba(245, 245, 245, 1);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(29, 29, 29, 1);
}

ul {
    list-style: none;
}

.hover:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
}